* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #cdcdcd;
}

:root {
  color-scheme: dark;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

.header {
  background-color: #4e4e4e;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: #e2e2e2; 
}

.nav-link:hover {
  color: #888888;
  transition: color 0.5s;
}

.main {
  padding: 0 20px;
  margin-bottom: auto;
  background-color: #1b1b1b;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #4e4e4e;
}

.section-title {
  margin-bottom: 20px;  
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #e2e2e2;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #343434;
}

.pre {
  overflow-x: auto;
  white-space: pre-wrap;
}

.section-courses,
.section-english {
  border-bottom: 0;
}

.section-profile-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;  
  text-transform: uppercase;
}

.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color:#e2e2e2;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 2px;
  background-color: #4e4e4e;
}

.section-subtitle {
  font-size: 18px;
  margin-top: 20px;
  color: #e2e2e2;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.section-list {
  margin: 0;
  padding: 0;  
  list-style: none;
}

.section-item {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 30px;
  list-style: none;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 14px;
  height: 14px; 
  background-size: 14px 14px;
  background-image: url("assets/svg/RoundPoint.svg");
}

.section-item span {
  color: #e2e2e2;
}

.section-item a {
  text-decoration: none;
  color: #e2e2e2;
  transition: color 0.5s;
}

.section-item a:hover {
  color: #666666;
}

.contacts-item:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 24px;
  height: 24px; 
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts-item:nth-child(1):before {
  left: 1px;
  background-image: url("assets/svg/Location.svg");
}

.contacts-item:nth-child(2):before {
  top: 5px;
  left: 0px;
  width: 21px;
  height: 21px;
  background-image: url("assets/svg/Email.svg");
}

.contacts-item:nth-child(3):before {
  top: 4px;
  left: 0px;
  width: 19px;
  height: 19px;
  background-image: url("assets/svg/GitHub.svg");
}

.contacts-item:nth-child(4):before {
  top: 5px;
  left: 0px;
  width: 21px;
  height: 21px;
  background-image: url("assets/svg/Discord.svg");
}

.footer {
  background-color: #4e4e4e;
  padding: 20px;  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #e2e2e2;
}

.github {
  color: #e2e2e2;
  text-decoration: none;
  line-height: 45px;
}

.rsschool-logo {
  width: 121px;
  height: 45px;
  background-image: url("./assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width:768px) {
  .section {
    width: 100%;
  }
  .section-profile {
    flex-direction: column;
    align-items: center;
  }  
  .section-courses {
    border-bottom: 1px solid #4e4e4e;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    display: none;
  }
  .nav-list {
    display: none;
  }
}

@media (max-width: 410px) {
  .main-title {
    font-size: 24px;
    letter-spacing: 4px;
  }  
}
