@font-face {
    font-family: Aleo;
    src: url("/travel/fonts/Aleo/Aleo-Regular.ttf"),
        url("/travel/fonts/Aleo/Aleo-Italic.ttf");
    font-weight: 400, 700;
}

@font-face {
    font-family: Magra;
    src: url("/travel/fonts/Magra/Magra-Regular.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Red Hat Text";
    src: url("/travel/fonts/Red_Hat_Text/static/RedHatText-Regular.ttf");
    font-weight: 500;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.content {
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-logo-text {
    width: 180px;
    font-family: Magra;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    color: #ffffff;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-family: "Red Hat Text";
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d606f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: "Red Hat Text";
    font-weight: 500;
    color: #ffffff;
}

.button-login {
    width: 103px;
    height: 41px;
    font-size: 16px;
    line-height: 21px;
}

.preview {
    padding-top: 122px;
    background-image: url(/travel/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.preview-section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 892px;
}

.preview-section-title {
    margin: 0;
    font-family: Aleo;
    font-style: normal;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    color: #ffffff;
}

.search-info {
    margin-top: 46px;
    font-family: "Aleo";
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.search-container {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding: 18px;
    padding-left: 40px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin-bottom: 33px;
}

.search-input {
    all: unset;
    font-family: "Aleo";
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    width: 100%;
}

.search-input::placeholder {
    color: #f2785c;
}

.button-search {
    width: 228px;
    height: 59px;
    font-size: 24px;
    line-height: 32px;
}

.steps {
    padding-top: 80px;
}

.steps-section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1177px;
}

.section-title {
    margin: 0 auto;
    font-family: "Red Hat Text";
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #f2785c;
}

.steps-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 36px;
}

.frame1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 154px;
}

.inner-frame {
    width: 100px;
    height: 100px;
    left: 73px;
    top: calc(50% - 100px / 2);
    background: #f2785c;
    border-radius: 16px;
}

.vector1 {
    margin-left: 25px;
    margin-top: 28px;
    color: #fff;
}

.frame1-text-steps {
    width: 247px;
    height: 24px;
    padding: 0;
    margin: 0;
    font-family: Aleo;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0d606f;
}

.frame2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    height: 154px;
}

.vector2 {
    margin-left: 24px;
    margin-top: 24px;
    color: #fff;
}

.frame2-text-steps {
    width: 222px;
    height: 24px;
    padding: 0;
    margin: 0;
    font-family: Aleo;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0d606f;
}

.frame3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 154px;
}

.vector3 {
    margin-left: 20px;
    margin-top: 28px;
    color: #fff;
}

.frame3-text-steps {
    width: 317px;
    height: 24px;
    padding: 0;
    margin: 0;
    font-family: Aleo;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0d606f;
}

.destinations {
    padding-top: 97px;
}

.destinations-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinations-slider {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 46px;
}

.destinations-photo {
    margin: 0 30px;
    border-radius: 16px;
}

.slider-buttons {
    display: flex;
    justify-content: space-between;
    min-height: 20px;
    min-width: 80px;
    margin-top: 24px;
}

.slider-button {
    all: unset;
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}

.button-find-more {
    margin-top: 40px;
    width: 228px;
    height: 59px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.slider-center-button {
    all: unset;
    width: 20px;
    height: 20px;
    background: #F2785C;
    border-radius: 50%;
}

.stories {
    padding-top: 80px;
}

.stories-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.first-story {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;

}

.story {
    display: flex;
    justify-content: space-around;

}

.image {
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0d606f);
    border-radius: 16px;
}

.story-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 0;
    margin-bottom: 35px;
    font-family: Aleo;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #0d606f;
}

.story-title {
    padding: 0;
    margin-bottom: 24px;
    margin-left: 24px;
}

.frame-text {
    padding: 0;
    margin: 0 0 0 24px;
    font-family: Aleo;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0d606f;
}

span {
    text-decoration: underline;
    font-weight: bold;
}

.button-see-more {
    margin-top: 40px;
    width: 228px;
    height: 59px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

footer {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 728.96px;
    height: 33.65px;
    margin-bottom: 13.35px;
    margin-right: 121.04px;
}

.footer-text {
    padding: 0;
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140.96px;
    height: 33.65px;
}