@font-face {
    font-family: Aleo;
    src: url("/travel/fonts/Aleo/Aleo-Regular.ttf"),
        url("/travel/fonts/Aleo/Aleo-Italic.ttf");
    font-weight: 700, 400;
}

@font-face {
    font-family: Magra;
    src: url("/travel/fonts/Magra/Magra-Regular.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url("/travel/fonts/Red_Hat_Text/static/RedHatText-Regular.ttf");
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(/travel/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png),
        url(/travel/img/Rectangle\ 33.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: 1440px 765px, 1440px 1331px;
}

header {
    display: flex;
    align-items: center;
    background-color: #F2785C;
    height: 90px;
    width: 1440px;
    opacity: 0.7;
    border: 2px solid red;
}

.header-logo-text {
    width: 180px;
    height: 31px;
    margin-left: 156px;
    margin-top: 25px;
    padding: 0;
    font-family: Magra;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

main {
    border: 2px solid red;
}

footer {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-title {
    margin: 0;
    font-family: Aleo;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.section-title {
    margin: 0 auto;
    font-family: 'Red Hat Text';
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #F2785C;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #FFF;
    text-decoration: none;
    transition: .3s;
    font-family: 'Red Hat Text';
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    border: 2px solid green;
}

.search {
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin-bottom: 33px;
    border: 2px solid yellow;
}

.search-info {
    font-family: Aleo;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.search-example {
    margin-left: 41px;
    font-family: Aleo;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #F2785C;
}

#preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 892px;
    height: 422px;
    margin-left: 120px;
    margin-top: 32px;
}

#steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1177px;
    height: 247px;
    margin-left: 131px;
    margin-top: 301px;
}

.steps-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1177px;
    height: 154px;
    border: 2px solid yellow;
}

.frame1 {
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 247px;
    height: 154px;
}

.frame2 {
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 222px;
    height: 154px;
}

.frame3 {
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 317px;
    height: 154px;
}

.inner-frame {
    width: 100px;
    height: 100px;
    left: calc(50% - 100px/2);
    top: calc(50% - 100px/2);
    background: #F2785C;
    border-radius: 16px;
}

.vector1 {
    margin-left: 25px;
    margin-top: 28px;
    color: #FFF;
}

.vector2 {
    margin-left: 24px;
    margin-top: 24px;
    color: #FFF;
}

.vector3 {
    margin-left: 20px;
    margin-top: 28px;
    color: #FFF;
}

.frame1-text-steps {
    width: 247px;
    height: 24px;
    padding: 0;
    margin: 0;
    font-family: Aleo;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D606F;
}

.frame2-text-steps {
    width: 222px;
    height: 24px;
    padding: 0;
    margin: 0;
    font-family: Aleo;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D606F;
}

.frame3-text-steps {
    width: 317px;
    height: 24px;
    padding: 0;
    margin: 0;
    font-family: Aleo;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D606F;
}

.frame-text {
    width: 760px;
    height: 184px;
    padding: 0;
    margin: 0 0 0 24px;
    font-family: Aleo;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D606F;
}

span {
    text-decoration: underline;
    font-weight: bold;
}

#destinations {
    width: 2520px;
    height: 1042px;
    margin-left: -540px;
    margin-top: 97px;
}

#stories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1201px;
    height: 1322px;
    margin-left: 119px;
    margin-top: 80px;
}

.story {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: 250px;
    border: 2px solid blue;
}

h3 {
    padding: 0;
    margin-bottom: 24px;
    margin-left: 24px;
    width: 760px;
    height: 42px;
}

.image {
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 0;
    margin-bottom: 35px;
    font-family: Aleo;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D606F;
}